body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




::-webkit-scrollbar {
  width: 10px;
}




::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 



::-webkit-scrollbar-thumb {
  background: #41bbcb; 
}




::-webkit-scrollbar-thumb:hover {
  background: #02202d; 
}